<ion-header>
  <ion-toolbar>
    <ion-title>Chats</ion-title>
    <ion-button style="position: absolute; top: 0; right: 0;" (click)="startNewChat()">Nuevo Chat</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="showUserList">
    <ion-item *ngFor="let user of users" (click)="selectUser(user)">
      {{ user.username }}
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let group of groups" (click)="selectGroup(group)">
      {{ group.name }}
    </ion-item>
  </ion-list>
  <div *ngIf="selectedGroup">
    <ion-list>
      <ion-item *ngFor="let message of messages">
        <ion-label>
          <h2>{{ message.sender }}</h2>
          <p>{{ message.content }}</p>
          <p>{{ message.sent_at }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-input [(ngModel)]="messageContent" placeholder="Type a message"></ion-input>
      <ion-button (click)="sendMessageGroup()">Send</ion-button>
    </ion-item>
  </div>
  <div *ngIf="selectedUser">
    <ion-list>
      <ion-item>
        {{ user.username }}
      </ion-item>
      <ion-item *ngFor="let message of privateMessages">
        <ion-label>
          <h2>{{ message.sender }}</h2>
          <p>{{ message.content }}</p>
          <p>{{ message.sent_at }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-input [(ngModel)]="privateMessageContent" placeholder="Type a message"></ion-input>
      <ion-button (click)="sendPrivateMessage()">Send</ion-button>
    </ion-item>
  </div>
</ion-content>
